<template>
	<LoginLayout>
		<Loader v-if="show" />
		<div class="row">
			<div class="col-md-4 mx-auto px-3 py-4 login-form">
				<form @submit="onSubmit" autocomplete="off">
					
					<div class="form-group">
						<center>
							<img src="http://tembusu.test/admin_assets/logo.png" />
						</center>
					</div>

					<div class="alert alert-danger" v-if="errors.length > 0">
						<h4>Uh oh!</h4>
						{{ errors }}
					</div>

					<div class="form-group">
						<router-link to="/" class="btn btn-primary">
							<i class="fas fa-chevron-left"></i>
							Go Back
						</router-link>
					</div>

				</form>
			</div>
		</div>
	</LoginLayout>
</template>

<script type="text/javascript">
	import LoginLayout from '../layouts/LoginLayout';
	import Loader from '../imports/Loader';
	import { mapActions } from 'vuex';

	export default {
		components: {
			LoginLayout,
			Loader
		},
		data() {
			return {
				show: false,
				request: {
					username: "",
					password: ""
				},
				errors: "Company not found."
			}
		},
		methods: {
		},
		created()
		{
			const self = this;
		}
	}
</script>