body {
	overflow-x: hidden;
}
.btn {
	font-size: 1.1rem;
}

.btn-primary {
	background: #5C6BC0;
	border: 1px solid #5C6BC0;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
/*LOGIN FORM*/
.login-form {
	background: white;
	border-radius: 5px;
	margin-top: 100px;
}
.text-1 {
	font-size: .8rem;
}
.text-white {
	color: #FFF;
}
/*EOF LOGIN FORM*/

/*LOADER*/
.loader-wrap {
	z-index: 1;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 1000px;
	position: fixed;
}
.loader-wrap h2 {
  margin-top: 200px;
  color: #FFF;
  text-align: center;
  font-weight: normal;
}
.animated-gradient {
  background: repeating-linear-gradient(to right, #0DBFBF 0%, #C911CE 50%, #0DBFBF 100%);
  width: 100%;
  background-size: 200% auto;
  background-position: 0 100%;
  animation: gradient 2s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  height: 20px;
}

@keyframes gradient { 
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}

.fb-profile {
	position: relative;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}


/*EOF LOADER*/

/*PROFILE PAGE*/
.profile-content {
	margin-top: 30px;
	min-height: 500px;
	padding-bottom: 100px;
}
.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
	border-radius: 100%;
	border: double 4px transparent;
	background-image: linear-gradient(#3FB1C1, #C718CE), radial-gradient(circle at top left, #3FB1C1, #C718CE);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.fb-image-profile:hover {
	cursor: pointer;
	background-image: linear-gradient(#ffd400, #008cff), radial-gradient(circle at top left, #ffd400, #008cff);
}

.joined-events h6 {
	margin-bottom: 20px;
}
.event-photos {
	margin-top: 20px;
	margin-bottom: 50px;
}
.event-item {
	margin-bottom: 20px;
}
.fb-profile-text {
	background: #FFF;
}
.fb-profile-text .subtitle {
	margin: 0;
}

.padding-right-0 {
	padding-right: 0;
}
.main-profile {
	margin-top: 20px;
	margin-bottom: 40px;
}
.main-profile > div {
	background: #F7F7F7;
	padding: 20px;
	box-shadow: 3px 3px 10px #DDD;
}

@media (max-width:768px)
{
	    
	.fb-profile-text>h1{
	    font-weight: 700;
	    font-size:16px;
	}

	.fb-image-profile
	{
	    margin: -45px 10px 0px 25px;
	    z-index: 9;
	    width: 20%; 
	}
}
/*EOF PROFILE PAGE*/

.event-notification {
	padding: 3px 30px;
	background: #ffe772;
	position: fixed;
	z-index: 1;
	width: 100%;
	margin: auto;
	text-align: center;
	box-shadow: 0px 0px 23px #858588;
}

hr {
	height: 1px; /*Choose your required size*/
	background: #3FB1C1; 
	background: -webkit-linear-gradient(left, #3FB1C1 , #C718CE);
	background: -o-linear-gradient(right, #3FB1C1, #C718CE);
	background: -moz-linear-gradient(right, #3FB1C1, #C718CE);
	background: linear-gradient(to right, #3FB1C1 , #C718CE);
}

.event-wallpaper {
	height: 300px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.title-wrap {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
	width: 100%;
}

.title-wrap h2,
.title-wrap h5 {
	color: #FFF;
	margin: 0;
	padding: 0;
}

.event-info-wrap ul {
	padding: 0;
	margin: 0;
}
.event-info-wrap li {
	color: #FFF;
	list-style: none;
	margin-bottom: 5px;
}
.event-info-wrap li i {
	margin-right: 10px;
}

.panel {
	padding: 20px;
	background: #EFEFEF;
	margin-bottom: 20px;
}

.panel p {
	margin: 0;
}


/*
	FOOTER
 */

.footer {
	padding: 10px;
	text-align: center;
	color: #FFF;
	font-size: 1rem;
}

.footer a {
	color: #FFF;
}

.required { color: red; }

.vdp-datepicker input {
	display: block;
	width: 100%;
	height: calc(1.6em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.6;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#gmap_canvas { border: 0; margin-bottom: 20px; }
/*
	EOF FOOTER
 */
