<template>
	<MainLayout>
		<Loader v-if="show" />

		<div class="row" style="margin-top: -150px">
			<div class="col-md-12">
				<div class="fb-profile">
			        <img align="left" class="fb-image-lg" src="/uploads/profile-cover/bg-cover.jpg" alt="Profile image example"/>
			    </div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-9 mx-auto">
				<div class="fb-profile">
					<input type="file" id="profile_image_selectors" accept="image/x-png,image/gif,image/jpeg" style="display: none" />

			        <img align="left" class="fb-image-profile thumbnail" src='http://tembusu.test/uploads/profile-picture/profile-1558548051.jpg' alt="Profile Image"/>

			        <div class="fb-profile-text">
			        	<div class="float-left">
			        		<h2 class="subtitle">{{ "Ram" + " " + "Guiao" }}</h2>
			        		<h5 class="subtitle">{{ "Applay" }}</h5>
			        		<p>
			        			<span class="badge text-1 text-white badge-info">
			        				{{ "dev@ramguiao.com" }}
			        			</span>

			        			|

			        			<span class="badge text-1 text-white badge-info">
			        				{{ "10001" }}
			        			</span>

			        			<br />
			        			<a href="javascript:void(0)" @click="signOut">Sign Out</a>
			        		</p>
			        	</div>
			        	<div class="float-right">
			        		<img src="/uploads/qr/frame.png" width="100">
			        	</div>
			        	<div class="clearfix"></div>
			        </div>
			    </div>
			</div>
		</div>


		<div class="row mt-5">
			<div class="col-md-9 mx-auto">
				
				<div class="float-left">
					<h1>Events</h1>
					<h5>Recently Joined Events</h5>
				</div>
				<div class="float-right">
					asdasd
				</div>
				<div class="clearfix"></div>
				<hr style="height: 10px;">

				<div class="row mt-5">
					<div class="col-md-2">
						<img src="https://androidapkcloud.com/wp-content/uploads/2017/09/Square-PhotoWithout.png" alt="" width="100%" />
					</div>
					<div class="col-md-10">
						<h3>
							<a href="#">Singapore Meet 2019</a>
						</h3>
						<span class="badge badge-warning">Community</span>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus tempus felis, et pellentesque lorem iaculis et. In vitae purus non.
						</p>
						<ul>
							<li>
								<i class="fas fa-map-marker mr-2"></i>
								3134 Grand Central Singapore, Kuawety Choson, Philip
							</li>
							<li>
								<i class="fas fa-calendar-alt mr-2"></i>
								January 1, 2018 - January 2, 2018
							</li>
						</ul>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-md-2">
						<img src="https://androidapkcloud.com/wp-content/uploads/2017/09/Square-PhotoWithout.png" alt="" width="100%" />
					</div>
					<div class="col-md-10">
						<h3>
							<a href="#">Singapore Meet 2019</a>
						</h3>
						<span class="badge badge-warning">Community</span>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus tempus felis, et pellentesque lorem iaculis et. In vitae purus non.
						</p>
						<ul>
							<li>
								<i class="fas fa-map-marker mr-2"></i>
								3134 Grand Central Singapore, Kuawety Choson, Philip
							</li>
							<li>
								<i class="fas fa-calendar-alt mr-2"></i>
								January 1, 2018 - January 2, 2018
							</li>
						</ul>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-md-2">
						<img src="https://androidapkcloud.com/wp-content/uploads/2017/09/Square-PhotoWithout.png" alt="" width="100%" />
					</div>
					<div class="col-md-10">
						<h3>
							<a href="#">Singapore Meet 2019</a>
						</h3>
						<span class="badge badge-warning">Community</span>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus tempus felis, et pellentesque lorem iaculis et. In vitae purus non.
						</p>
						<ul>
							<li>
								<i class="fas fa-map-marker mr-2"></i>
								3134 Grand Central Singapore, Kuawety Choson, Philip
							</li>
							<li>
								<i class="fas fa-calendar-alt mr-2"></i>
								January 1, 2018 - January 2, 2018
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</MainLayout>
</template>

<script type="text/javascript">
	import MainLayout from '../layouts/MainLayout';
	import Loader from '../imports/Loader';

	export default {
		components: {
			MainLayout,
			Loader
		},
		data() {
			return {
				show: false
			}
		}
	}
</script>