<template>
	<div>
		<h3 style="color: #FFF">Please wait while we log you in. This page will redirect you automatically. If not, please click <a :href="url" style="color: #FFF; text-decoration: underline;">here</a>.</h3>
	</div>
</template>
<script type="text/javascript">
	import axios from 'axios';
	import MainLayout from '../layouts/MainLayout';

	export default {
		components: {
			MainLayout
		},
		data() {
			return {
				show: false,
				url: "",
			}
		},
		created() {
			const self = this;

			const id = self.$route.params.participantid,
				  eventid = self.$route.params.eventid;

			axios.get(process.env.MIX_API_URL + '/login-via-id/' + id)
				 .then(function(data) {
				 	if(data.data.access_token) {
			 			localStorage.setItem("token", "Bearer "+data.data.access_token);
				 		axios.get(process.env.MIX_API_URL + "/participants/get-loggedin-participant",
						{
							headers: {
								"Accept": "application/json",
								"Authorization": localStorage.getItem("token")
							}
		 				})
		 				.then(function(loggedin_data) {
			 				axios.get(process.env.MIX_API_URL + "/participants/get-current-company/"+loggedin_data.data.data.id,
								{
									headers: {
										"Accept": "application/json",
										"Authorization": localStorage.getItem("token")
									}
				 				})
			 					.then(function(current_company_data) {
											localStorage.setItem('user', JSON.stringify(loggedin_data.data.data))
									
									// self.url = "/corp/" + loggedin_data.data.data.company.slug + "/" + loggedin_data.data.data.id + "/" + "invited";

									window.location = "/corp/" + loggedin_data.data.data.company.slug + "/event/" + eventid + "/" + id;
									// window.location = "/corp/" + loggedin_data.data.data.company.slug + "/" + id + "/" + eventid + "/";
			 					});
		 				});
				 	}
				 });
		}
	}
</script>