<template>
	<MainLayout>
		<Loader v-if="show" />
		<div class="row">
			<div class="col-md-12">
				<div class="fb-profile">
			        <img align="left" class="fb-image-lg" src="/uploads/profile-cover/bg-cover.jpg" alt="Profile image example"/>
			    </div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-9 mx-auto">
				<div class="fb-profile">
					<!-- <input type="file" id="profile_image_selectors" accept="image/x-png,image/gif,image/jpeg" style="display: none" /> -->

			        <input type="file" @change="onPhotoChange" id="profile_image_selectors" accept="image/x-png,image/gif,image/jpeg" style="display: none" />

			        <img align="left" @click="selectImage" class="fb-image-profile thumbnail" :src='profile_image' alt="Profile Image"/>

			        <div class="fb-profile-text">
			        	<div class="float-left">
			        		<h2 class="subtitle">{{ user.name }}</h2>
			        		<h5 class="subtitle">{{ user.company.name }}</h5>
			        		<p>
			        			<span class="badge text-1 text-white badge-info">
			        				{{ user.email }}
			        			</span>

			        			|

			        			<span class="badge text-1 text-white badge-info">
			        				{{ user.employee_number }}
			        			</span>

			        			<br />
			        			<a href="javascript:void(0)" @click="signOut">Sign Out</a>
			        		</p>
			        	</div>
			        	<div class="float-right" v-if="qrcode_url != '' && participant.status == 1">
			        		<img :src="qrcode_url" width="100">
			        	</div>
			        	<div class="clearfix"></div>
			        </div>
			    </div>
			</div>
		</div>
		<br />
		<br />
		<br />
		<div class="row">
			<div class="col-md-9 mx-auto">
				<div class="event-wallpaper" v-bind:style="{ backgroundImage: 'url('+event.wallpaper+')' }">
					<div class="title-wrap">
						<div class="row">
							<div class="col-md-9 mx-auto">
								<div class="float-left">
									<h2>{{ event.title }}</h2>
									<h5>{{ event.caption }}</h5>
								</div>
								<div class="event-info-wrap float-right">
									<ul>
										<li v-if="event.venue">
											<i class="fas fa-map-marker"></i>
											{{ event.venue.address }}
										</li>
										<li>
											<i class="fas fa-calendar"></i>
											 {{ event.start_date }}
											 <span v-if="event.end_date">- {{ event.end_date }}</span>
										</li>
									</ul>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					
				</div>
				
				<div class="row">
					<div class="col-md-12 mx-auto">
						<div class="row mt-5">
							<div class="col-md-6" v-if="alreadyOptedIn">
								<div class="panel">
									<div class="alert alert-primary">
										<h4>See you!</h4>
										<ul>
											<li>You already joined in this event.</li>
										</ul>
									</div>

									<h5>Your Information</h5>
									<div class="alert alert-danger" v-if="errors.length > 0">
										<h4>Uh oh!</h4>
										<ul>
											<li v-for='error in errors'>
												{{ error }}
											</li>
										</ul>
									</div>
									
									<form @submit="onSubmit">
										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<label>Full Name</label>
													<input type="text" readonly="" placeholder="Full Name" class="form-control" v-model='participant.name' />
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Birthdate</label>
														<input type="text" readonly="" placeholder="Birthdate" class="form-control" v-model='participant.birthdate' />
													</div>
												</div>
											</div>
										</div>
										<div class="form-group" style="display: none">
											<label>Birthdate</label>
											<datepicker readonly="" v-model="participant.birthdate" name="uniquename" :format="customFormatter"></datepicker>
										</div>
										
										<div class="form-group">
											<label>Employee Number</label>
											<input type="text" readonly="" placeholder="Employee Number" v-model="participant.employee_number" class="form-control" />
										</div>

										<div class="form-group">
											<p v-if="participant.table_number">
												<i class="fas fa-hashtag"></i> Table Number: {{ participant.table_number }}
											</p>

											<p v-if="participant.lucky_draw_number">
												<i class="fas fa-trophy"></i> Lucky Draw Number: {{ participant.lucky_draw_number }}
											</p>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-6" v-if="!alreadyOptedIn">
								<div class="alert alert-success"  v-if="success && (!declineShow  && !declinedSuccess)">
									<h4>See you at the event!</h4>
									You've just joined the {{ event.title }} event. We've sent an email confirmation for the event details.
								</div>
								<div class="alert alert-success" v-if="declinedSuccess">
									<p class="mb-2">
										Thank you for your response.
									</p>
								</div>
								<div class="panel" v-if="!success && !declineShow">
									<h5>Your Information</h5>
									<div class="alert alert-danger" v-if="errors.length > 0">
										<h4>Uh oh!</h4>
										<ul>
											<li v-for='error in errors'>
												{{ error }}
											</li>
										</ul>
									</div>
									<form @submit="onSubmit">
										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<label>Full Name</label>
													<input type="text" readonly="" placeholder="Full Name" class="form-control" v-model='participant.name' />
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Birthdate</label>
														<input type="text" readonly="" placeholder="Birthdate" class="form-control" v-model='participant.birthdate' />
													</div>
												</div>
											</div>
										</div>
										<div class="form-group" style="display: none">
											<label>Birthdate</label>
											<datepicker readonly="" v-model="participant.birthdate" name="uniquename" :format="customFormatter"></datepicker>
										</div>
										
										<div class="form-group">
											<label>Employee Number</label>
											<input type="text" readonly="" placeholder="Employee Number" v-model="participant.employee_number" class="form-control" />
										</div>
										
										<h5 class="mt-5">We would like to know...</h5>
										<div class="form-group" v-for="(question, index) in questions">
											<label>
												<h5>{{ index + 1 }}) {{ question.question }}</h5>
											</label>

											<div v-if="question.type == 2">
												<input type="radio" :name="'yesno'+question.question_id" @click="addAnswer(index, 'True')" value="True" /> True
												<input type="radio" :name="'yesno'+question.question_id" @click="addAnswer(index, 'False')" value="False" /> False

												<input type="hidden" v-model="question.answer" :id="'answer'+question.question_id" class="form-control" placeholder="Your Answer">
											</div>

											<div v-if="question.type == 3">
												<div v-for="choice in question.choices">
													<label>
														<input type="radio" :name="'withchoices'+question.question_id" @click="addAnswer(index, choice)" /> {{ choice }} 
													</label>
												</div>


												<input type="hidden" v-model="question.answer" :id="'answer'+question.question_id" class="form-control" placeholder="Your Answer">
											</div>
												
											<div v-if="question.type == 1">
												<input type="text" v-model="question.answer" :id="'answer'+question.question_id" class="form-control" placeholder="Your Answer">
											</div>
										</div>

										<h5 class="mt-5">Your Diet Preferences</h5>

										<div class="row">
											<div class="col-md-6">
												<label>
													<input type="checkbox" value='Vegetarian' v-model="diet.preference_1" />
													Vegetarian
												</label> <br />

												<label>
													<input type="checkbox" value='Lactose Intolerance' v-model="diet.preference_2"  />
													Lactose Intolerance
												</label> <br />

												<label>
													<input type="checkbox" value='Peanut Allergies' v-model="diet.preference_3"  />
													Peanut Allergies
												</label> <br />

												<label>
													<input type="checkbox" value='Diabetic' v-model="diet.preference_4"  />
													Diabetic
												</label> <br />
											</div>
											<div class="col-md-6">
												<label>
													<input type="checkbox" value='Gluten Free' v-model="diet.preference_5"  />
													Gluten Free
												</label> <br />

												<label>
													<input type="checkbox" value='Kosher' v-model="diet.preference_6"  />
													Kosher
												</label> <br />
												<label>
													<input type="checkbox" value='Halal' v-model="diet.preference_7"  />
													Halal
												</label> <br />
											</div>
										</div>
										<br />
										<div class="form-group">
											<label>
												<strong>Additional Request</strong>
											</label>
											<input type="text" v-model='diet_notes' class="form-control" placeholder="Detail your diet conditions here" />
										</div>

										<div class="form-group" v-if="event.is_close == false">
											<button type="submit" class="btn btn-primary btn-block">
												<i class="fas fa-check"></i>
												I AM GOING
											</button>
											<center>
												<a href="javascript:void(0)" @click="showDeclineForm">I don't want to go</a>
											</center>
										</div>
										<div class="form-group" v-if="event.is_close == true">
											<div class="alert alert-danger">
												Registration is already closed. Last day of registration was on {{ event.registration_closing_date }}.
											</div>
										</div>
									</form>
								</div>
								
								<div class="panel" v-if="declineShow">
									<h4 class="m-0">You're not going? :(</h4>
									<p>Please click the button to continue</p>

									<div class="alert alert-danger" v-if="errorsDecline.length > 0">
										<h4>Uh oh!</h4>
										<ul>
											<li v-for='error in errorsDecline'>
												{{ error }}
											</li>
										</ul>
									</div>

									<form @submit="onSubmitDecline" class="mt-3">
										<div class="form-group" style="display: none;">
											<label>Employee Number</label>
											<input type="text" readonly="" v-model='decline_data.employee_number' class="form-control" name="employee_number" />
										</div>
										<div class="form-group" style="display: none;">
											<label>Reason</label>
											<input type="text" v-model='decline_data.note' class="form-control" name="note" />
										</div>
										<div class="form-group">
											<button class="btn btn-danger btn-block">
												<i class="fas fa-times"></i>
												I AM NOT GOING
											</button>
											<center>
												<a href="javascript:void(0)" @click="showDeclineForm">
													<i class="fas fa-angle-left"></i>
													Go Back
												</a>
											</center>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-6">
								<iframe width="100%" height="450" frameborder="0" style="border:0" :src="iframe_src" v-if="venue != null"></iframe>
								<div class="panel">
									<p>
										{{ event.write_up }}
									</p>
								</div>
								<div class="panel">
									<div class="row">
										<div class="col-md-3">
											<img :src="company.logo" alt="" class="img-fluid" />
										</div>
										<div class="col-md-9">
											<h5>
												{{ company.name }}
											</h5>
											<p>
												<i class="fas fa-map-marker"></i>
												{{ company.address }}
											</p>
											<p>
												<i class="fas fa-phone"></i>
												{{ company.mobile_number }}
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</MainLayout>
</template>

<script type="text/javascript">
	import MainLayout from '../layouts/MainLayout';
	import Loader from '../imports/Loader';
	import { mapActions } from 'vuex';
	import Datepicker from 'vuejs-datepicker';
	import moment from 'moment';

	export default {
		components: {
			MainLayout,
			Loader,
			Datepicker
		},
		data() {
			return {
				show: false,
				user: {},
				errors: [],
				errorsDecline: [],
				questions: [],
				answers: [],
				alreadyOptedIn: false,
				qrcode_url: "",
				diet: {
					preference_1: "",
					preference_2: "",
					preference_3: "",
					preference_4: "",
					preference_5: "",
					preference_6: "",
					preference_7: "",
				},
				diet_notes: "",
				event: {},
				company: {},
				profile_image: "",
				profile_image_to_save: "",
				participant: {
					first_name: "",
					last_name: "",
					birthdate: "",
					employee_number: "",
					status: "",
					lucky_draw_number: "",
					table_number: ""
				},
				success: false,
				iframe_src: "",
				declineShow: false,
				decline_data: {
					employee_number: "",
					note: ""
				},
				declinedSuccess: false,
				venue: null,
				participant_data: {}
			}
		},
		methods: {
			...mapActions([
				'logout',
				'getEventById',
				'joinEvent',
				'declineEvent',
				'getParticipantByEmployeeNumber',
				'getParticipantById',
				'answerQuestion',
				'updateProfilePhoto',
				'updateParticipant'
			]),
			customFormatter(date) {
				return moment(date).format('YYYY/MM/DD');
			},
			closeWindow()
			{
				open(location, '_self');
				window.close();
			},
			addAnswer(id, choice) {
				const self = this;
				self.questions[id].answer = choice;
			},
			onSubmitDecline(e)
			{
				e.preventDefault();

				const self = this;

				self.getParticipantByEmployeeNumber(self.decline_data.employee_number)
					.then(function(data) {
						if(data.data.data) {
							const request = {
								status: 0,
								event_id: self.$route.params.id,
								participant_id: data.data.data.id
							}

							self.declineEvent(request)
								.then(function(data) {
									window.location = "?declined=true";
								})
								.catch(error => {
									var serverErrors = error.response.data.errors;

									for (var key in serverErrors) {
			    						if (serverErrors.hasOwnProperty(key)) {
			    							for(var i=0; i<serverErrors[key].length; i++) {
												self.errors.push(serverErrors[key][i]);
			    							}
										}
									}

									setTimeout(function() {
										self.show = false;
									}, 300);

									window.scrollTo(0, 0);
								});
						} else {
							self.errorsDecline = [];

							self.errorsDecline.push("Employee number not found. Please make sure to have a correct employee number to be able to join the event.")

							window.scrollTo(0, 0);

							setTimeout(function() {
							self.show = false;
							}, 300);
						}
					});

				
			},
			showDeclineForm()
			{
				const self = this;

				self.declineShow = (self.declineShow) ? false : true;
			},
			signOut()
			{
				const self = this,
					  corp_slug = self.$route.params.company,
					  event_id = self.$route.params.id;
				
				// self.logout()
				// 	.then(function(data) {
				// 		localStorage.clear();
				// 		// self.$router.push();
				// 		window.location = '/corp/' + event_id + '/' + corp_slug;
				// 	});

				localStorage.clear();
						// self.$router.push();
 				window.location = '/corp/' + event_id + '/' + corp_slug;
			},
			onSubmit(e)
			{
				e.preventDefault();

				const self = this;

				const preference_1 = self.diet.preference_1,
					  preference_2 = self.diet.preference_2,
					  preference_3 = self.diet.preference_3,
					  preference_4 = self.diet.preference_4,
					  preference_5 = self.diet.preference_5,
					  preference_6 = self.diet.preference_6,
					  preference_7 = self.diet.preference_7;

				const diet_array = [];

				self.show = true;

				if(preference_1 != "") {
					diet_array.push("Vegetarian");
				}

				if(preference_2 != "") {
					diet_array.push("Lactose Intolerance");
				}

				if(preference_3 != "") {
					diet_array.push("Peanut Allergies");
				}

				if(preference_4 != "") {
					diet_array.push("Diabetic");
				}

				if(preference_5 != "") {
					diet_array.push("Gluten Free");
				}

				if(preference_6 != "") {
					diet_array.push("Kosher");
				}

				if(preference_7 != "") {
					diet_array.push("Halal");
				}

				const errors = [];

				if(errors.length > 0) {
					self.errors = [];

					window.scrollTo(0, 0);

					self.errors = errors;

					setTimeout(function() {
						self.show = false;
					}, 300);
				} else {
					self.errors = [];

					const company_slug = self.$route.params.company;

					self.getParticipantByEmployeeNumber(self.participant.employee_number)
						.then(function(data) {
							if(data.data.data) {
								const request = {
									id: data.data.data.id,
									event_id: self.$route.params.id,
									name: self.participant.name,
									birthdate: moment(self.participant.birthdate).format('YYYY/MM/DD'),
									employee_number: self.participant.employee_number,
									diet_notes: self.diet_notes,
									diet_preferences: diet_array.join(),
									raffle_code: data.data.data.event_participant.raffle_code,
									table_number: 1
								};

								// check if participant employee number is currently for the company slug in the URL
								if(data.data.data.company.slug != company_slug) {
									self.errors.push("Employee number not found. Please make sure to have a correct employee number to be able to join the event.")

									window.scrollTo(0, 0);

									setTimeout(function() {
										self.show = false;
									}, 300);
								} else {
									self.joinEvent(request)
										.then(function(data) {
											self.answerQuestion(self.questions)
												.then(function(answerData) {

													window.location = "?success=true";
												});
										})
										.catch(error => {
											var serverErrors = error.response.data.errors;

											for (var key in serverErrors) {
					    						if (serverErrors.hasOwnProperty(key)) {
					    							for(var i=0; i<serverErrors[key].length; i++) {
														self.errors.push(serverErrors[key][i]);
					    							}
												}
											}

											setTimeout(function() {
												self.show = false;
											}, 300);

											window.scrollTo(0, 0);
										});
								}
							} else {
								self.errors.push("Employee number not found. Please make sure to have a correct employee number to be able to join the event.")

								window.scrollTo(0, 0);

								setTimeout(function() {
									self.show = false;
								}, 300);
							}
						})
						.catch(function(e) {
							self.errors.push("Employee number not found. Please make sure to have a correct employee number to be able to join the event.")

							window.scrollTo(0, 0);

							setTimeout(function() {
								self.show = false;
							}, 300);
						});
				}

				
			},

			onPhotoChange(e)
			{
				const file = e.target.files[0];
				var self = this;

				self.profile_image = URL.createObjectURL(file);
				
				self.show = true;

				if (e.target.files && e.target.files[0]) {
			    var reader = new FileReader();

			    reader.onload = function(e) {
			      self.profile_image_to_save = e.target.result;

			      let request = {
			      	id: self.user.id,
			      	profile_image: self.profile_image_to_save
			      };

			      self.updateProfilePhoto(request)
			      	  .then(function(data) {

			      	  	request = {
			      	  		id: self.user.id,
			      	  		profile_image: data.data,
			      	  		type: "profile_photo"
			      	  	}
			      	  	self.updateParticipant(request)
							.then(function(data) {
								localStorage.setItem('user', JSON.stringify(data.data.data));

								setTimeout(function() {
									self.show = false;
								}, 350);
							});
			      	  });
			    }

			    reader.readAsDataURL(e.target.files[0]);
			  }
			},
			selectImage()
			{
				var elem = document.getElementById('profile_image_selectors');
				var evt = new MouseEvent('click', {
					bubbles: true,
					cancelable: true,
					view: window
				});
				// If cancelled, don't dispatch our event
				var canceled = !elem.dispatchEvent(evt);
			},
		},
		created()
		{
			const self = this,
				  id = self.$route.params.id,
				  company_slug = self.$route.params.company,
				  success = self.$route.query.success,
				  declined = self.$route.query.declined,
				  participant_id = self.$route.params.participantid,
				  participant_info = localStorage.getItem('user');

			self.user = JSON.parse(participant_info);


			if(self.user.qrid != "") {
				self.qrcode_url = "https://api.qrserver.com/v1/create-qr-code/?data="+self.user.qrid+"&amp;size=50x50";
			}

			if(success) {
				self.success = true;
			}

			if(declined) {
				self.declinedSuccess = true;
			}

			self.show = true;

			self.getEventById(id)
				.then(function(data) {
					self.event = data.data.data;
					self.company = self.event.company;
					self.venue = self.event.venue;

					console.log(data);

					for(var i = 0; i < self.event.questions.length; i++) {
						if(self.event.questions[i].type == 3) {
							var array = self.event.questions[i].choices.match(/[^\r\n]+/g);
						} else {
							var array = [];
						}

						self.questions.push({
							question_id: self.event.questions[i].id,
							participant_id: self.user.id,
							question: self.event.questions[i].question,
							type: self.event.questions[i].type,
							choices: array,
							answer: "",
						});
					}

					if(self.venue != null) {
						self.iframe_src = "https://www.google.com/maps/embed/v1/place?q="+self.venue.lat+","+self.venue.lng+"&key=AIzaSyAANZ4AD4WX1TyAE8RKKOFQ8CD69eQ0PMY";
					}

					// check if event id is currently for the company slug
					// in the current url
					if(self.company.slug != company_slug) {
						window.location = "/"
					}

					self.getParticipantById([participant_id, id])
						.then(function(participantData) {
							var participant = participantData.data.data;

							self.participant.name = participant.name;
							self.participant.birthdate = participant.birthdate;
							self.participant.employee_number = participant.employee_number;
							self.decline_data.employee_number = participant.employee_number;
							self.participant.status = participant.event_participant.status;
							self.participant.lucky_draw_number = participant.event_participant.raffle_code;
							self.participant.table_number = participant.event_participant.table_number;
							self.profile_image = participant.profile_image;

							if(self.participant.status == 1) {
								self.alreadyOptedIn = true;
							} else {
								self.alreadyOptedIn = false;
							}
						});

					setTimeout(function() {
						self.show = false;
					}, 300);
				});
		}
	}
</script>