<template>
	<LoginLayout>
		<Loader v-if="show" />
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 mx-auto px-3 py-4 login-form" style="margin-top: 60px;">
					<form autocomplete="off">
						
						<div class="form-group">
							<center>
								<img src="http://tembusu.test/admin_assets/logo.png" />
							</center>
						</div>

						<div class="alert alert-info">
							<h4>First Login</h4>
							<span>This is your first login, please change your password or skip if you want to retain the old one.</span>
						</div>

						<div class="alert alert-danger" v-if="errors.length > 0">
							<h4>Uh oh!</h4>
							<ul>
								<li v-for="error in errors">
									{{ error }}
								</li>
							</ul>
						</div>

						<div class="form-group">
							<label>Username: </label>
							<input type="text" v-model="user.username" disabled="" class="form-control" />
						</div>

						<div class="form-group">
							<label>Password: </label>
							<input type="password" v-model='password' class="form-control" />
						</div>

						<div class="form-group">
							<label>Retype Password: </label>
							<input type="password" v-model='password_confirmation' class="form-control" />
						</div>

						<div class="form-group">
							<button @click='onChangePassword' class="btn btn-primary float-left">
								Change Password
							</button>

							<button @click="onSkip" class="btn btn-default float-right">
								Skip <i class="fas fa-chevron-right"></i>
							</button>

							<div class="clearfix"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</LoginLayout>
</template>

<script type="text/javascript">
	import LoginLayout from '../layouts/LoginLayout';
	import Loader from '../imports/Loader';
	import { mapActions } from 'vuex';

	export default {
		components: {
			LoginLayout,
			Loader
		},
		data() {
			return {
				show: true,
				user: {},
				errors: [],
				password: "",
				password_confirmation: ""
			}
		},
		methods: {
			...mapActions(
				[
					'getCompanyViaSlug',
					'getLoggedInUser',
					'changePassword'
				]
			),

			onChangePassword(e)
			{
				e.preventDefault();

				const self = this;

				self.show = true;

				self.errors = [];

				if(self.password != self.password_confirmation) {
					self.errors.push("Please make sure to retype the same password.");
				} else if(self.password == "" || self.password_confirmation == "") {
					self.errors.push("Please include your password and retype it.");
				} else if(self.password.length < 8) {
					self.errors.push("Your password should not be less than 8 characters");
				}

				if(self.errors.length > 0) {
					 window.scrollTo(0,0);

					 setTimeout(function() {
						self.show = false;
					 }, 350);
				} else {
					console.log(self.user);
					const request = {
						id: self.user.id,
						password: self.password,
						password_confirmation: self.password_confirmation,
					}
					const slug = self.$route.params.company,
						  id = self.$route.params.employee;

					self.changePassword(request)
						.then(function(data) {
							localStorage.setItem('user', JSON.stringify(data.data.data))
							self.$router.push({name: 'index', params: { company: slug, employee: id } });
						});
				}
			},

			onSkip(e)
			{
				e.preventDefault();
				
				const self = this;

				const request = {
						id: self.user.id,
						password: self.password,
						password_confirmation: self.password_confirmation,
					};

				const slug = self.$route.params.company,
					  id = self.$route.params.employee;


				self.show = true;

				self.changePassword(request)
						.then(function(data) {
							localStorage.setItem('user', JSON.stringify(data.data.data))
							self.$router.push({name: 'index', params: { company: slug, employee: id } });
						});
			}
		},
		created()
		{
			const self = this,
				  company_slug = self.$route.params.company;

			self.getCompanyViaSlug(company_slug)
				.then(function(data) {
					if(data.data.data == null) {
						self.$router.push({path: '/company404'});
					}

					self.getLoggedInUser()
						.then(function(data) {
							self.user = data.data.data;
							setTimeout(function() {
								self.show = false;
							}, 300);
						});
				})
				.catch(function(data) {
				});
		}
	}
</script>