<style type="text/css">
	body {
		background: #cb04ce;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #03bfbf, #cb04ce);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #03bfbf, #cb04ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
</style>
<template>
	<LoginLayout>
		<Loader v-if="show" />
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 mx-auto px-3 py-4 login-form">
					<form @submit="onSubmit" autocomplete="off">
						
						<div class="form-group">
							<center>
								<img :src="logo" />
							</center>
						</div>

						<div class="alert alert-danger" v-if="errors.length > 0">
							<h4>Uh oh!</h4>
							{{ errors }}
						</div>

						<div class="form-group">
							<label>Username: </label>
							<input type="text" v-model="request.username" class="form-control" />
						</div>

						<div class="form-group">
							<label>Password: </label>
							<input type="password" v-model="request.password" class="form-control" />
						</div>

						<!-- <div class="form-group">
							<a href="#">Problem with Logging In?</a>
						</div> -->

						<div class="form-group">
							<button type="submit" class="btn btn-primary" style="display: block !important; width: 100%">
								Sign In
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</LoginLayout>
</template>

<script type="text/javascript">
	import LoginLayout from '../layouts/LoginLayout';
	import Loader from '../imports/Loader';
	import { mapActions } from 'vuex';

	export default {
		components: {
			LoginLayout,
			Loader
		},
		data() {
			return {
				show: true,
				request: {
					username: "",
					password: ""
				},
				errors: "",
				logo: ""
			}
		},
		methods: {
			...mapActions(
				[
					'auth',
					'getCompanyViaSlug'
				]
			),

			isObject(obj)
			{
			    return obj !== undefined && obj !== null && obj.constructor == Object;
			},

			onSubmit(e)
			{
				e.preventDefault();

				const self = this;

				const eventid = self.$route.params.eventid;

				self.show = true;

				self.auth(self.request)
					.then(function(data) {
						self.errors = "";
						
						setTimeout(function(){
							var user = JSON.parse(localStorage.getItem('user'));
							console.log(user);
							if(JSON.parse(localStorage.getItem('user')).length > 0) {
								window.location = "/corp/" + user.company.slug + "/event/" + eventid + "/" + user.id;
							} else {
							console.log(JSON.parse(localStorage.getItem('user')).length);
								if(self.isObject(user)) {
									window.location = "/corp/" + user.company.slug + "/event/" + eventid + "/" + user.id;
								} else {
									self.errors = "Invalid username or password. Please try again."
									self.show = false;
									self.request.password = "";
								}
							}
						}, 1000);
					})
					.catch(function(e) {
						self.errors = "Invalid username or password. Please try again."
						setTimeout(function(){
							self.show = false;
							self.request.password = "";
						}, 1000);
					});
			}
		},
		created()
		{
			const self = this,
				  company_slug = self.$route.params.company;

			self.getCompanyViaSlug(company_slug)
				.then(function(data) {
					self.logo= data.data.data.logo;

					if(data.data.data == null) {
						self.$router.push({path: '/company404'});
					}

					setTimeout(function() {
						self.show = false;
					}, 300);
				})
				.catch(function(data) {
				});
		}
	}
</script>