<style type="text/css">
	body {
		background: #cb04ce;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #03bfbf, #cb04ce);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #03bfbf, #cb04ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
</style>
<template>
	<LoginLayout>
		<Loader v-if="show" />
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 mx-auto px-3 py-4 login-form">
					<form @submit="onSubmit" autocomplete="off">
						
						<div class="form-group">
							<center>
								<img :src="logo" />
							</center>
						</div>

						<div class="alert alert-danger" v-if="errors.length > 0">
							<h4>Uh oh!</h4>
							<ul>
								<li v-for='error in errors'>{{ error }}</li>
							</ul>
						</div>

						<div class="alert alert-warning">
							<h4>Instruction:</h4>
							<p>
								Please input your information below for your verification
							</p>
						</div>

						<div class="form-group">
							<label>Employee Number: <span class="required">*</span></label>
							<input type="text" v-model="request.employee_number" class="form-control" />
						</div>
						
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Full Name: <span class="required">*</span></label>
									<input type="text" v-model="request.name" class="form-control" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label>Birthdate <span class="required">*</span></label>
							<datepicker v-model="request.birthdate" :format="customFormatter"></datepicker>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-primary" style="display: block !important; width: 100%">
								Verify
							</button>
						</div>
					</form>
				</div>
			</div>
			<br />
			<br />
			<br />
		</div>
	</LoginLayout>
</template>

<script type="text/javascript">
	import LoginLayout from '../layouts/LoginLayout';
	import Loader from '../imports/Loader';
	import { mapActions } from 'vuex';
	import Datepicker from 'vuejs-datepicker';
	import moment from 'moment';

	export default {
		components: {
			LoginLayout,
			Loader,
			Datepicker
		},
		data() {
			return {
				show: true,
				request: {
					name: "",
					employee_number: "",
					birthdate: ""
				},
				errors: "",
				logo: ""
			}
		},
		methods: {
			...mapActions(
				[
					'auth',
					'getCompanyViaSlug',
					'verify'
				]
			),
			customFormatter(date) {
				return moment(date).format('YYYY-MM-DD');
			},

			isObject(obj)
			{
			    return obj !== undefined && obj !== null && obj.constructor == Object;
			},

			onSubmit(e)
			{
				e.preventDefault();

				const self = this;

				self.show = true;

				self.request.birthdate = self.customFormatter(self.request.birthdate);

				self.verify(self.request)
					.then(function(data) {
						var participant = data.data.data,
							event_id = self.$route.params.event,
							company = self.$route.params.company;
						console.log(participant);
						if(participant) {
							self.show = false;
							localStorage.setItem('user', JSON.stringify(data.data.data))

							self.$router.push('/corp/'+company+'/event/'+event_id+'/'+participant.id);
						} else {
							self.errors = [];
							
							self.errors.push("Information not found. Please make sure to complete your data for verification.");
							
							window.scrollTo(0, 0);

							setTimeout(function() {
								self.show = false;
							}, 300);
						}
					})
					.catch(error => {
						self.errors = [];

						var serverErrors = error.response.data.errors;

						for (var key in serverErrors) {
    						if (serverErrors.hasOwnProperty(key)) {
    							for(var i=0; i<serverErrors[key].length; i++) {
									self.errors.push(serverErrors[key][i]);
    							}
							}
						}

						setTimeout(function() {
							self.show = false;
						}, 300);

						window.scrollTo(0, 0);
					});
			}
		},
		created()
		{
			const self = this,
				  company_slug = self.$route.params.company;

			self.getCompanyViaSlug(company_slug)
				.then(function(data) {
					self.logo= data.data.data.logo;

					if(data.data.data == null) {
						self.$router.push({path: '/company404'});
					}

					setTimeout(function() {
						self.show = false;
					}, 300);
				})
				.catch(function(data) {
				});
		}
	}
</script>