<template>
	<MainLayout>
		<Loader v-if="show" />
		<div class="row">
			<div class="col-md-12">
				<div class="fb-profile">
			        <img align="left" class="fb-image-lg" src="/uploads/profile-cover/bg-cover.jpg" alt="Profile image example"/>
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 mx-auto">
				<div class="fb-profile">
					<input type="file" @change="onPhotoChange" id="profile_image_selectors" accept="image/x-png,image/gif,image/jpeg" style="display: none" />

			        <img align="left" @click="selectImage" class="fb-image-profile thumbnail" :src='profile_image' alt="Profile Image"/>

			        <div class="fb-profile-text">
			        	<div class="float-left">
			        		<h2 class="subtitle">{{ user.name }}</h2>
			        		<h5 class="subtitle">{{ user.company.name }}</h5>
			        		<p>
			        			<span class="badge text-1 text-white badge-info">
			        				{{ user.email }}
			        			</span>

			        			|

			        			<span class="badge text-1 text-white badge-info">
			        				{{ user.employee_number }}
			        			</span>

			        			<br />
			        			<a href="javascript:void(0)" @click="signOut">Sign Out</a>
			        		</p>
			        	</div>
			        	<div class="float-right">
			        		<img src="/uploads/qr/frame.png" width="100">
			        	</div>
			        	<div class="clearfix"></div>
			        </div>
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 mx-auto">
				<div class="profile-content">
					<hr style="height: 10px;" />
					<div class="row">
						<div class="col-md-3">
							<div class="event-photos">
								<h6 >
									<i class="fas fa-image"></i> Recenty Uploaded Photos
								</h6>
								<div class="row" style="padding: 10px;"> 
									<div class="col-md-4" style="padding: 5px">
										<img class="img-fluid" src="https://placeimg.com/150/150/any">
									</div>
									<div class="col-md-4" style="padding: 5px">
										<img class="img-fluid" src="https://placeimg.com/150/150/animals">
									</div>
									<div class="col-md-4" style="padding: 5px">
										<img class="img-fluid" src="https://placeimg.com/150/150/nature">
									</div>
									<div class="col-md-4" style="padding: 5px">
										<img class="img-fluid" src="https://placeimg.com/150/150/people">
									</div>
									<div class="col-md-4" style="padding: 5px">
										<img class="img-fluid" src="https://placeimg.com/150/150/tech">
									</div>
									<div class="col-md-4" style="padding: 5px">
										<img class="img-fluid" src="https://placeimg.com/150/150/architecture">
									</div>
									<div class="col-md-4" style="padding: 5px">
										<img class="img-fluid" src="https://placeimg.com/150/150/any">
									</div>
									<div class="col-md-4" style="padding: 5px">
										<img class="img-fluid" src="https://placeimg.com/150/150/people">
									</div>
									<div class="col-md-4" style="padding: 5px">
										<img class="img-fluid" src="https://placeimg.com/150/150/animals">
									</div>
								</div>
								<a href="#">View All</a>
							</div>
							<div class="joined-events">
								<h6>
									<i class="fas fa-image"></i> Recenty Joined Events
								</h6>
								<div class="row event-item">
									<div class="col-md-3 padding-right-0">
										<img class="img-fluid rounded-circle" src="https://placeimg.com/150/150/architecture">
									</div>
									<div class="col-md-9">
										<a href='#'>Event 1</a>
										<div><small>January 1, 2019</small></div>
									</div>
								</div>
								<div class="row event-item">
									<div class="col-md-3 padding-right-0">
										<img class="img-fluid rounded-circle" src="https://placeimg.com/150/150/animals">
									</div>
									<div class="col-md-9">
										<a href='#'>Event 1</a>
										<div><small>January 1, 2019</small></div>
									</div>
								</div>
								<div class="row event-item">
									<div class="col-md-3 padding-right-0">
										<img class="img-fluid rounded-circle" src="https://placeimg.com/150/150/any">
									</div>
									<div class="col-md-9">
										<a href='#'>Event 1</a>
										<div><small>January 1, 2019</small></div>
									</div>
								</div>
							</div>
							<a href="#">View All</a>
						</div>
						<div class="col-md-9">
							<div class="main-profile">
								<div>
									<h3>My Profile</h3>
									<p>Manage Profile Information</p>

									<div class="alert alert-success" v-if="info_success.length > 0">
										<h4>Nice!</h4>
										<span>{{ info_success }}</span>
									</div>

									<div class="alert alert-danger" v-if="info_errors.length > 0">
										<h4>Uh oh!</h4>
										<ul>
											<li v-for='error in info_errors'>
												{{ error }}
											</li>
										</ul>
									</div>

									<form @submit="saveProfileInformation">
										<div class="form-group">
											<div class="row">
												<div class="col-md-6">
													<label>Salutation</label>
													<select v-model='salutation' class="form-control">
														<option value=""></option>
														<option value="Mr.">Mr.</option>
														<option value="Ms.">Ms.</option>
														<option value="Mrs.">Mrs.</option>
														<option value="Dr.">Dr.</option>
														<option value="Engr.">Engr.</option>
														<option value="Atty.">Atty.</option>
														<option value="Dean">Dean</option>
														<option value="Prof.">Prof.</option>
													</select>
												</div>
												<div class="col-md-6">
													<label>First Name</label>
													<input type="text" v-model='name' class="form-control" />
												</div>
											</div>
											<br />
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label>Department</label>
														<select v-model='department' class="form-control">
															<option value=""></option>
															<option :value="departmentinfo.id" v-for='departmentinfo in departments'>{{ departmentinfo.name }}</option>
														</select>
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>Contact Number</label>
														<input type="text" v-model='contact_number' class="form-control" />
													</div>
												</div>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-primary">
													<i class="fas fa-save"></i>
													Save Information
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>

							<div class="main-profile" v-if="show_diet_preferences == 1">
								<div>
									<h3>My Preferences</h3>
									<p>Let us know your diet preferences</p>

									<div class="alert alert-success" v-if="preference_success.length > 0">
										<h4>Nice!</h4>
										<span>{{ preference_success }}</span>
									</div>

									<form @submit="savePreference">
										<div class="row">
											<div class="col-md-3">
												<label>
													<input type="checkbox" value='Vegetarian' v-model="diet.preference_1" />
													Vegetarian
												</label> <br />

												<label>
													<input type="checkbox" value='Lactose Intolerance' v-model="diet.preference_2"  />
													Lactose Intolerance
												</label> <br />
											</div>
											<div class="col-md-3">
												<label>
													<input type="checkbox" value='Peanut Allergies' v-model="diet.preference_3"  />
													Peanut Allergies
												</label> <br />

												<label>
													<input type="checkbox" value='Diabetic' v-model="diet.preference_4"  />
													Diabetic
												</label> <br />
											</div>
											<div class="col-md-3">
												<label>
													<input type="checkbox" value='Gluten Free' v-model="diet.preference_5"  />
													Gluten Free
												</label> <br />

												<label>
													<input type="checkbox" value='Kosher' v-model="diet.preference_6"  />
													Kosher
												</label> <br />
											</div>
											<div class="col-md-3">
												<label>
													<input type="checkbox" value='Halal' v-model="diet.preference_7"  />
													Halal
												</label> <br />
											</div>
										</div>
										<br />
										<div class="form-group">
											<label>
												<strong>Diet Notes:</strong>
											</label>
											<input type="text" v-model='diet_notes' class="form-control" placeholder="Detail your diet conditions here" />
										</div>

										<div class="form-group">
											<button type="submit" class="btn btn-primary">
												<i class="fas fa-save"></i>
												Save Preferences
											</button>
										</div>
									</form>
								</div>
							</div>

							<div class="main-profile">
								<div>
									<h3>My Account</h3>
									<p>Manage Account Information</p>
									<div class="alert alert-danger" v-if="account_errors.length > 0">
										<h4>Uh oh!</h4>
										<ul>
											<li v-for='error in account_errors'>
												{{ error }}
											</li>
										</ul>
									</div>

									<div class="alert alert-success" v-if="account_success.length > 0">
										<h4>Nice!</h4>
										<span>{{ account_success }}</span>
									</div>

									<form @submit="onChangePassword">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Username</label>
													<input type="text" disabled="" v-model='user.username' class="form-control">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Email Address</label>
													<input type="text" disabled="" v-model='user.email' class="form-control">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Password</label>
													<input type="password" v-model='password' placeholder="********" name="" class="form-control">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Confirm Password</label>
													<input type="password" v-model='password_confirmation' placeholder="********" name="" class="form-control">
												</div>
											</div>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-primary">
												<i class="fas fa-lock"></i>
												Change Password
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</MainLayout>
</template>

<script type="text/javascript">
	import MainLayout from '../layouts/MainLayout';
	import Loader from '../imports/Loader';
	import { mapActions } from 'vuex';

	export default {
		components: {
			MainLayout,
			Loader
		},
		data()
		{
			return {
				user: {},
				salutation: "",
				show_diet_preferences: 1,
				name: "",
				department: 0,
				departments: [],
				contact_number: "",
				profile_image: "",
				profile_image_to_save: "",
				password: "",
				password_confirmation: "",
				info_errors: [],
				account_errors: [],
				info_success: "",
				preference_success: "",
				account_success: "",
				show: true,
				diet: {
					preference_1: "",
					preference_2: "",
					preference_3: "",
					preference_4: "",
					preference_5: "",
					preference_6: "",
					preference_7: "",
				},
				diet_notes: ""
			}
		},
		methods: {
			...mapActions([
				'logout',
				'getLoggedInUser',
				'getDepartmentsOfACompany',
				'updateParticipant',
				'changePassword',
				'updateProfilePhoto'
			]),
			signOut()
			{
				const self = this,
					  corp_slug = self.$route.params.company;
				
				self.logout()
					.then(function(data) {
						localStorage.clear();
						self.$router.push('/corp/'+corp_slug);
					});	
			},
			onPhotoChange(e)
			{
				const file = e.target.files[0];
				var self = this;

				self.profile_image = URL.createObjectURL(file);
				
				self.show = true;

				if (e.target.files && e.target.files[0]) {
			    var reader = new FileReader();

			    reader.onload = function(e) {
			      self.profile_image_to_save = e.target.result;

			      let request = {
			      	id: self.user.id,
			      	profile_image: self.profile_image_to_save
			      };

			      self.updateProfilePhoto(request)
			      	  .then(function(data) {

			      	  	request = {
			      	  		id: self.user.id,
			      	  		profile_image: data.data,
			      	  		type: "profile_photo"
			      	  	}
			      	  	self.updateParticipant(request)
							.then(function(data) {
								localStorage.setItem('user', JSON.stringify(data.data.data));

								setTimeout(function() {
									self.show = false;
								}, 350);
								console.log(data);
							});
			      	  });
			    }

			    reader.readAsDataURL(e.target.files[0]);
			  }
			},
			selectImage()
			{
				var elem = document.getElementById('profile_image_selectors');
				var evt = new MouseEvent('click', {
					bubbles: true,
					cancelable: true,
					view: window
				});
				// If cancelled, don't dispatch our event
				var canceled = !elem.dispatchEvent(evt);
			},
			onChangePassword(e)
			{
				e.preventDefault();

				const self = this;

				self.show = true;

				self.account_errors = [];

				if(self.password != self.password_confirmation) {
					self.account_errors.push("Please make sure to retype the same password.");
				} else if(self.password == "" || self.password_confirmation == "") {
					self.account_errors.push("Please include your password and retype it.");
				} else if(self.password.length < 8) {
					self.account_errors.push("Your password should not be less than 8 characters");
				}

				if(self.account_errors.length > 0) {
					 setTimeout(function() {
						self.show = false;
					 }, 350);
				} else {
					console.log(self.user);

					const request = {
						id: self.user.id,
						password: self.password,
						password_confirmation: self.password_confirmation,
					}
					const slug = self.$route.params.company,
						  id = self.$route.params.employee;

					self.changePassword(request)
						.then(function(data) {
							setTimeout(function() {
								self.show = false;
							 }, 350);
							self.account_success = "Your password has been changed successfully.";
							self.password = "";
							self.password_confirmation = "";
						});
				}
			},
			setInitialData(userdata)
			{
				const self = this;

				console.log(userdata);

				self.show_diet_preferences = userdata.show_diet_preferences;
				self.salutation = userdata.salutation;
				self.name = userdata.name;
				self.last_name = userdata.last_name;
				self.contact_number = userdata.contact_number;
				self.diet_notes = userdata.diet_notes;
				self.profile_image = userdata.profile_image;
				self.department = userdata.department_id;

				if(userdata.diet_preferences) {
					var diet_preference = userdata.diet_preferences.split(",");
				} else {
					var diet_preference = "";
				}

				if(diet_preference.indexOf("Vegetarian") > -1) {
					self.diet.preference_1 = "Vegetarian";
				}

				if(diet_preference.indexOf("Lactose Intolerance") > -1) {
					self.diet.preference_2 = "Lactose Intolerance";
				}

				if(diet_preference.indexOf("Peanut Allergies") > -1) {
					self.diet.preference_3 = "Peanut Allergies";
				}

				if(diet_preference.indexOf("Diabetic") > -1) {
					self.diet.preference_4 = "Diabetic";
				}

				if(diet_preference.indexOf("Gluten Free") > -1) {
					self.diet.preference_5 = "Gluten Free";
				}

				if(diet_preference.indexOf("Kosher") > -1) {
					self.diet.preference_6 = "Kosher";
				}

				if(diet_preference.indexOf("Halal") > -1) {
					self.diet.preference_7 = "Halal";
				}
			},

			savePreference(e)
			{
				e.preventDefault();

				const self = this;

				const preference_1 = self.diet.preference_1,
					  preference_2 = self.diet.preference_2,
					  preference_3 = self.diet.preference_3,
					  preference_4 = self.diet.preference_4,
					  preference_5 = self.diet.preference_5,
					  preference_6 = self.diet.preference_6,
					  preference_7 = self.diet.preference_7;

				const diet_array = [
					(preference_1) ? "Vegetarian" : "",
					(preference_2) ? "Lactose Intolerance" : "",
					(preference_3) ? "Peanut Allergies" : "",
					(preference_4) ? "Diabetic" : "",
					(preference_5) ? "Gluten Free" : "",
					(preference_6) ? "Kosher" : "",
					(preference_7) ? "Halal" : "",
				];

				// console.log(diet_array);

				var diet_preferences = "";

				// prepare diet_prefernce data to have (,) comma
				for(var i = 0; i < diet_array.length; i++) {
					if(diet_array[i] != "") {
						diet_preferences = diet_array[i] + "," + diet_preferences;
					}
				}

				// clear diet_preference
				if(diet_preferences.length > 0) {
					diet_preferences = diet_preferences.substring(0, diet_preferences.length - 1);
				}

				const request = {
					id: self.user.id,
					diet_preferences,
					diet_notes: self.diet_notes,
					type: "preference"
				};

				self.show = true;

				self.updateParticipant(request)
					.then(function(data) {
						self.preference_success = "Preferences has been saved successfully.";

						localStorage.setItem('user', JSON.stringify(data.data.data));

						setTimeout(function() {
							self.show = false;
						}, 350);
						console.log(data);
					});
			},

			saveProfileInformation(e)
			{
				e.preventDefault();

				const self = this;

				self.info_errors = [];

				if(self.name == "") {
					self.info_errors.push("Full name is required.");
				}

				if(self.info_errors.length > 0) {
					self.info_success = "";
				} else {
					const request = {
						id: self.user.id,
						salutation: self.salutation,
						name: self.name,
						department_id: self.department,
						contact_number: self.contact_number,
						type: "info"
					}

					self.show = true;

					self.updateParticipant(request)
						.then(function(data) {
							self.info_errors = [];


							self.info_success = "Profile has been saved successfully.";

							console.log(data.data.data);

							localStorage.setItem('user', JSON.stringify(data.data.data));

							setTimeout(function() {
								self.show = false;
							}, 350);
							console.log(data);
						});
				}
			}
		},
		created()
		{
			const self = this,
				  user = JSON.parse(localStorage.getItem('user')),
				  corp_slug = self.$route.params.company,
				  id = self.$route.params.id;

			if(user.status == 0) {
				self.$router.push({name: 'firstlogin', params: { company: corp_slug, id } });
			}

			self.user = user;

			self.show = true;

			self.getLoggedInUser()
				.then(function(data) {
					const userdata = data.data.data;

					self.setInitialData(userdata);

					self.getDepartmentsOfACompany(userdata.company_id)
						.then(function(departmentsdata) {
							self.departments = departmentsdata.data.data;

							setTimeout(function(){
								self.show = false;
							}, 400)
						});

				});
		}
	}
</script>