<template>
	<MainLayout>
		<h1>RSVP</h1>
	</MainLayout>
</template>

<script type="text/javascript">
	import MainLayout from '.../layouts/MainLayout';

	export default {
		components: {
			MainLayout
		}
	}
</script>