h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.permissions { cursor: pointer; margin-bottom: 10px; }
.permissions:hover span { background: #03b5a3; }

.required { color: #ff4c52; font-weight: bold; }

.event-nav-item {
	background: #DDD;
	border: 1px solid #CCC;
	padding: 10px;
	text-align: center;
}

.event-nav-item:hover {
	background: #fff;
	cursor: pointer;
}


.event-nav-item.active {
	background: #fff;
	border: 1px solid #DDD;
	padding: 10px;
	text-align: center;
}

.event-nav-item.active h1 {
	color: #333;
}

#error-wrap { display: none; }

#date-picker,
#go-back,
#check-in-success,
#participant-table,
#participant-info { display: none; }

#error-details,
#success-details {
	display: none;
}

.preloader-wrap {
	width: 100%;
	height: 10000px;
	z-index: 9;
	background: rgba(255, 255, 255, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

.preloader {
	margin-top: 200px;
}

.preloader h1,
.preloader h4 {
	text-align: center;
}

.site-menubar-footer { display: none; }