body {
	padding: 0;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif !important;
	background: linear-gradient(to right, #7df2f2, #ffe20a);
}

#re-draw { display: none; }

.bg-lucky-draw { height: 300px; background-position: center center; background-size: cover; background-repeat: no-repeat; }
.odometer { font-size: 17rem; color: #000;}
.raffle-wrap { margin-top: 30px;}
.overlay { width: 100%; height: 1000px; background: #000; position: fixed; top: 0; left: 0; z-index: 1; }
#start-draw { z-index: 909999; }
h2,h4 { 
	font-family: 'Raleway', sans-serif !important;
	font-weight: bold;
	margin: 0;
}
#winner { display: none; background: white; margin-top: 10px; padding: 20px; box-shadow: 4px 4px 10px #444; }

.odometer.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition-duration: 4s !important;
    -moz-transition-duration: 4s !important;
    -ms-transition-duration: 4s !important;
    -o-transition-duration: 4s !important;
    transition-duration: 4s !important
}
hr {
	height: 10px; /*Choose your required size*/
	background: #3FB1C1; 
	background: -webkit-linear-gradient(left, #3FB1C1 , #C718CE);
	background: -o-linear-gradient(right, #3FB1C1, #C718CE);
	background: -moz-linear-gradient(right, #3FB1C1, #C718CE);
	background: linear-gradient(to right, #3FB1C1 , #C718CE);
	border: 0;
}
.prizes-wrap {
	position: absolute;
	bottom: 0;
	padding: 15px 15px;
	background: #cb04ce;
	background: linear-gradient(to right, #03bfbf, #cb04ce);
	width: 100%;
	overflow-x: auto;
	display: none;
}
.prizes-wrap .prize {
	display: inline-block;
	width: 300px;
	background: white;
	padding: 10px;
	cursor: pointer;
	margin-right: 10px;
	flex-shrink: 0;
}
.prizes-wrap .prize:hover {
	background: #d6f6ff;
}

.prizes-wrap .prize h5 {
	margin: 0;
	padding: 0;
}

.prize-item {
	margin-bottom: 30px;
	cursor: pointer;
}

.prize-item a {
	background: white;
	padding: 10px;
	display: block;
}
.prize-item a:hover {
	background: #c9fff9;
}
.show-button {
	position: absolute;
	bottom: 80px;
	left: 50%;
	margin-left: -25px;
}
.winner-wrap {
	top: 0;
	left: 0;
	position: absolute;
	padding: 20px;
	background: -webkit-linear-gradient(left, #3FB1C1 , #C718CE);
	background: -o-linear-gradient(right, #3FB1C1, #C718CE);
	background: -moz-linear-gradient(right, #3FB1C1, #C718CE);
	background: linear-gradient(to right, #3FB1C1 , #C718CE);
	box-shadow: 0px 0px 10px #333;
	cursor: pointer;
	outline: none;
	border: 0;
}
#success-draw,
#failed-draw { display: none; }
#failed-draw { margin-top: 20px; }
.winner-wrap h4 { color: #FFF; }
.odometer-digit {
	color: #FFF !important;
	-webkit-text-stroke: 2px black;
	text-shadow: 7px 7px 7px #000;
	font-weight: 400;
}
#prize-name {
	font-size: 5rem;
	font-weight: 700;
	color: #FFF !important;
	text-shadow: 3px 3px #000;
	-webkit-text-stroke: 2px black;
}
