<template>
	<div class="container-fluid px-0">
		<div class="event-notification" style="display: none;">
			Hi, Ram! You've been invited to 1 of the events of your company. Please click here to <a href="" class="btn btn-primary px-1 py-0" style="font-size: .9rem">view</a>.
		</div>
		<div class="row">
			<div class="col-md-12" style="margin: 0 0 0 0; padding: 0 0 100px 0; background: white">
				<slot />
			</div>
		</div>
		<div class="row footer">
			<div class="col-md-12">
				<center>
					<a href="https://www.tembusuevents.com.sg/" target="_blank">Tembusu Events</a> &copy; 2019
				</center>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	
</script>